abc-ci-builds

*.tar.gz

*.exe
src/lotusd
src/lotus-cli
src/lotus-seeder
src/lotus-tx
src/lotus-wallet
src/test/test_lotus
src/test/test_lotus_fuzzy
src/qt/test/test_lotus-qt

src/univalue/gen
src/obj

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

src/qt/lotus-qt.config
src/qt/lotus-qt.creator
src/qt/lotus-qt.creator.user
src/qt/lotus-qt.files
src/qt/lotus-qt.includes

.deps
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

# Only ignore unexpected patches
*.patch
!depends/patches/**/*.patch

# Compilation and Qt preprocessor part
*.qm
Makefile
lotus-qt
Lotus-QT.app
background.tiff*

# Resources cpp
qrc_*.cpp

# Mac specific
.DS_Store
build

#lcov
*.gcno
*.gcda
/*.info

#build tests
test/config.ini
test/cache/*
*.mypy_cache/

!src/leveldb*/Makefile

contrib/devtools/split-debug.sh

# Ignore node_modules at every level
node_modules/
